*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --background: #d3d9d4;
  --primary: #124e66;
  --secondary: #748d92;
  --black: #212a31;
  --grey: #2e3944;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: var(--primary);
  padding: 0 20px;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  flex: 6;
}

nav > a {
  text-decoration: none;
  color: var(--background);
  margin-right: 80px;
}

.hamburger-menu {
  display: none;
  margin-left: auto;
} */

h1 {
  padding: 20px;
  color: var(--primary);
}

p {
  font-style: italic;
  color: var(--primary);
}

/* .logo {
  flex: 1;
  padding: 5px;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
} */

.layout {
  width: 100%;
  display: flex;
  flex: 1;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px 20px;
}

aside {
  flex: 1;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px var(--secondary);
}

main {
  flex: 2;
}

footer {
  height: 60px;
  background-color: var(--primary);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-apps-container {
  display: flex;
  width: 100%;
  position: relative;
  padding: 5px;
}

.chat-apps-wrapper {
  display: flex;
  gap: 10;
  width: 100%;
}
.chat-iframe {
  flex: 1;
  min-width: 0;
  border: none;
  border-radius: 10px;
  background: transparent;
  margin: 5px;
}

/* Mobile First Approach */
@media (max-width: 768px) {
  .chat-apps-wrapper {
    flex-direction: column;
    height: 100vh;
  }

  .chat-iframe {
    height: 100%; /* Shorter height on mobile */
    min-height: unset;
  }

  /* .navbar {
    display: none;
  }

  .hamburger-menu {
    display: flex;
    justify-content: flex-end;
    display: block;
    position: relative;
  }

  .hamburger-menu #hamburgerLinks {
    display: none;
    position: absolute;
    top: 50px;
    right: -15px;
    background-color: var(--primary);
    min-width: 160px;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .hamburger-menu a {
    color: var(--background);
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger-menu a:hover {
    background-color: #ddd;
    color: var(--grey);
  }

  #hamburger-icon {
    height: 10px;
    width: 10px;
    background: none;
    border: none;
    color: var(--background);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  } */
}

/* Tablet Landscape */
@media (min-width: 769px) and (max-width: 1024px) {
  .chat-iframe {
    height: 100%;
  }
}

/* Large Desktop */
@media (min-width: 1600px) {
  .chat-iframe {
    height: 100%;
  }
}
