*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

:root {
  --background: #d3d9d4;
  --primary: #124e66;
  --secondary: #748d92;
  --black: #212a31;
  --grey: #2e3944;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  background-color: var(--primary);
  padding: 0 20px;
  align-items: center;
}

nav {
  display: flex;
  width: 100%;
  flex: 6;
}

nav > a {
  text-decoration: none;
  color: var(--background);
  margin-right: 80px;
}

.logo {
  flex: 1;
  padding: 5px;
}

.logo-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.hamburger-menu {
  display: none;
  margin-left: auto;
}

/* Mobile First */
@media (max-width: 768px) {
  .navbar {
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: relative;
  }

  .hamburger-menu #hamburgerLinks {
    display: none;
    position: absolute;
    top: 50px;
    right: -15px;
    background-color: var(--primary);
    min-width: 160px;
    z-index: 1;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .hamburger-menu a {
    color: var(--background);
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  .hamburger-menu a:hover {
    background-color: #ddd;
    color: var(--grey);
  }

  #hamburger-icon {
    height: 10px;
    width: 10px;
    background: none;
    border: none;
    color: var(--background);
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
